<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>edu.caltech.library.persistent.url.resolver</string>
    <key>UserName</key>
    <string>datawork</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
	<string>/Sites/persistent_url_resolver/resolver.bash</string>
    </array>
    <key>StartInterval</key>
    <integer>600</integer>
    <key>StandardErrorPath</key>
        <string>/Sites/persistent_url_resolver/logs/plist-error.log</string>
        <key>StandardOutPath</key>
        <string>/Sites/persistent_url_resolver/logs/plist-out.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
